/* Editor cards */
.caption-card {
	height: 6rem;
}
.caption-card:hover {
	background-color: #F6F7F6;
}
.caption-card:hover .editor-text-area{
	background-color: #F6F7F6;
}
.caption-card:hover .editor-time-input{
	background-color: #F6F7F6;
}
.caption-card:hover .editor-time-input:focus{
	background-color: #ffffff;
}
.caption-card:hover .editor-text-area:focus{
	background-color: #ffffff;
}
.caption-card-highlight {
	border-left: solid 2px #a8151a !important;
}

.editor-time-input{
	border: none;
	width: 100%;
}
.editor-text-area {
	border: none; 
	width:  100%; /*fill parent*/
	height: 100%; 
	resize: none; /*prevent resize*/
}
